<div class="min-vh-100">
  <!-- Display the title based on whether it's an Add or Edit operation -->
  <h1 class="teal text-center mt-5">
    {{ btn === "Add" ? "ADD" : "EDIT" }} TOUR
  </h1>
  <div class="container col-8 fs-5 fw-5 text-white">
    <!-- Form for adding or editing a tour -->
    <form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
      <!-- Input field for Destination -->
      <div class="form-group p-2">
        <label class="p-2" for="cruiseName">Destination</label>
        <input
          [(ngModel)]="tourDetail.destination"
          ngModel
          name="destination"
          type="text"
          class="form-control"
          id="cruiseName"
          placeholder="Enter Destination Name"
          required
        />
      </div>
      <!-- Input field for Cruise Id -->
      <div class="form-group p-2">
        <label class="p-2" for="cruiseName">Cruise Id</label>
        <input
          [(ngModel)]="tourDetail.cruiseId"
          ngModel
          name="cruise"
          type="number"
          class="form-control"
          id="cruiseName"
          placeholder="Enter Cruise Id"
          required
        />
      </div>
      <!-- Input field for Check-in Date -->
      <div class="form-group p-2">
        <label class="p-2" for="checkinDate">Check-in Date</label>
        <input
          [(ngModel)]="tourDetail.checkInDate"
          ngModel
          name="checkIn"
          type="date"
          class="form-control"
          id="checkinDate"
          [min]="getCurrentDate()"
          required
          #checkIn="ngModel"
        />
      </div>
      <!-- Input field for Checkout Date -->
      <div class="form-group p-2">
        <label class="p-2" for="checkoutDate">Checkout Date</label>
        <input
          [(ngModel)]="tourDetail.checkOutDate"
          ngModel
          name="checkOut"
          type="date"
          class="form-control"
          id="checkoutDate"
          [min]="getSelectedCheckInDate()"
          required
          [disabled]="!tourDetail.checkInDate"
        />
      </div>
      <!-- Input field for Price -->
      <div class="form-group p-2">
        <label class="p-2" for="price">Price</label>
        <input
          [(ngModel)]="tourDetail.price"
          ngModel
          name="price"
          type="number"
          class="form-control"
          id="price"
          placeholder="Enter Price"
          required
        />
      </div>
      <!-- Submit button -->
      <button
        [disabled]="addForm.invalid"
        type="submit"
        class="btn-add btn-all text-center mt-3"
      >
        {{ btn }}
      </button>
    </form>
  </div>
</div>
