<div class="min-vh-100">
  <!-- Header Section with Title and Add Button -->
  <div class="text-white justify-content-between d-flex py-3">
    <h2 class="teal fs-3">All Tour</h2>
    <!-- Add Button -->
    <button
      type="button"
      class="btn-add"
      routerLink="/admin/tour/operation"
      routerLinkActive="active"
    >
      <i class="fa fa-plus"></i>
      Tour
    </button>
  </div>

  <!-- Tour Table -->
  <div class="table-responsive">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">DESTINATION</th>
        <th scope="col">CRUISE ID</th>
        <th scope="col">PRICE</th>
        <th scope="col">CHECK IN</th>
        <th scope="col">CHECK OUT</th>
        <th scope="col" class="px-4">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <!-- Tour Table Rows -->
      <tr *ngFor="let tour of tourDetails">
        <th scope="row">{{ tour.id }}</th>
        <td>{{ tour.destination }}</td>
        <td>{{ tour.cruise?.id }}</td>
        <td>₹ {{ tour.price }}</td>
        <td>{{ tour.checkInDate | date }}</td>
        <td>{{ tour.checkOutDate | date }}</td>
        <!-- Action Buttons -->
        <td>
          <!-- Edit Button -->
          <i
            role="button"
            (click)="onEdit(tour.id!)"
            class="fa-solid fa-pen-to-square mx-4 teal"
          ></i>
          <!-- Delete Button -->
          <i
            role="button"
            (click)="onDelete(tour.id)"
            class="fa-solid fa-trash teal"
            style="color: #ef4444"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
