<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-white m-3">Feedback</h2>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">COMMENTS</th>
            <th scope="col">RATING</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback of feedbackDetails">
            <th scope="row">{{ feedback.id }}</th>
            <td>{{ feedback.comments }}</td>
            <td class="px-4">{{ feedback.rating }}</td>
            <td>
              <i
              role="button"
          (click)="onEdit(feedback.id!)"
          class="fa-solid fa-pen-to-square fa-xl teal"
        ></i>
        <i
        role="button"
          (click)="onDelete(feedback.id)"
          class="fa-solid fa-trash fa-xl mx-5 teal"
          style="color: #ef4444"
        ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
