<!-- Header Section with Image and Text -->
<div class="img-top">
  <img
    src="assets\images\jeremy-bishop-_CFv3bntQlQ-unsplash-1536x1152.jpg"
    alt="Your Image Alt Text"
  />
  <div class="img-text">S E R V I C E S</div>
</div>

<!-- Service Features Section -->
<div class="row text-center m-5">
  <div class="col-3">
    <!-- Service Card - World Wide -->
    <div
      class="card m-3 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i class="fa-solid fa-globe fa-2xl p-3" style="color: #29d9d5"></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">World Wide</h5>
        <p class="card-text text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div
      class="card m-3 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i
        class="fa-solid fa-arrow-up-right-from-square fa-2xl p-3"
        style="color: #29d9d5"
      ></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">Easy Book</h5>
        <p class="card-text text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-3 mt-5">
    <div
      class="card m-3 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i
        class="fa-solid fa-calendar-days fa-2xl p-3"
        style="color: #29d9d5"
      ></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">Flexible Date</h5>
        <p class="card-text text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div
      class="card m-3 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i class="fa-solid fa-globe fa-2xl p-3" style="color: #29d9d5"></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">24/7 Services</h5>
        <p class="card-text text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-6 text-start">
    <!-- Our Services Content -->
    <p class="teal py-3 fs-5 fw-bold">OUR SERVICES</p>
    <h1 class="text-white my-4 fs-1 py-2 fw-bold">
      Best Experience You Can Get
    </h1>
    <p class="text my-4 lh-lg fs-5">
      Welcome to Cruise Hub, where we are dedicated to providing top-notch
      services to meet your needs. Our team of experts is committed to
      delivering exceptional solutions tailored to your requirements.
    </p>
    <div>
      <img
        class="rounded"
        src="assets\images\roberto-nickson-dPBdgcSXHXY-unsplash-1536x1152.jpeg"
        alt=""
        width="400px"
        height="300px"
      />
    </div>
  </div>
</div>

<!-- Our Destination Section -->
<div class="container-fluid">
  <div class="black-secondary">
    <h3 class="text-center fw-bold fs-5 teal pt-5">OUR DESTINATION</h3>
    <h1 class="text-center text-white fw-bold fs-1 p-3 font-weight">
      Our Best Destination
    </h1>
    <div class="container">
      <div class="row">
        <div
          (click)="getCruiseId(cruise.id)"
          *ngFor="let cruise of cruiseDetails"
          class="card col-2 m-2 p-0 border-0"
          style="width: 16rem"
          role="button"
        >
          <img
            class="rounded"
            src="{{
              'http://localhost:8080/api/admin/cruises/downloadFile/' +
                cruise.id
            }}"
            alt=""
            width="256px"
            height="200px"
          />
          <div class="card-body text-center black-primary">
            <h5 class="card-title fs-4 text-white">{{ cruise.name }}</h5>
            <p class="card-text text">
              {{ cruise.description }}
            </p>
            <a class="card-a">See Tours <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Why Choose Us Section -->
<div class="text-center black-primary min-vh-100">
  <h4 class="teal py-5 fs-3 fw-bold">WHY CHOOSE US</h4>
  <h1 class="text-white fs-1 fw-bold">Countless Experiences</h1>
  <div class="d-flex justify-content-around pt-5 text-align-center">
    <div
      class="card m-2 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i class="fa-regular fa-compass fa-2xl p-3" style="color: #29d9d5"></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">Experienced</h5>
        <p class="card-text text">
          Discover curated and unforgettable cruise experiences crafted by
          seasoned professionals.
        </p>
      </div>
    </div>
    <div
      class="card m-2 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i class="fa-solid fa-globe fa-2xl p-3" style="color: #29d9d5"></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">Worldwide</h5>
        <p class="card-text text">
          Explore the globe with our diverse range of cruises, spanning the most
          captivating destinations worldwide.
        </p>
      </div>
    </div>
    <div
      class="card m-2 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i
        class="fa-regular fa-credit-card fa-2xl p-3"
        style="color: #29d9d5"
      ></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">Affordable</h5>
        <p class="card-text text">
          Embark on budget-friendly journeys without compromising on quality or
          comfort.
        </p>
      </div>
    </div>
    <div
      class="card m-2 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i
        class="fa-solid fa-headphones-simple fa-2xl p-3"
        style="color: #29d9d5"
      ></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">24/7 Service</h5>
        <p class="card-text text">
          Enjoy peace of mind with round-the-clock support for all your travel
          needs.
        </p>
      </div>
    </div>
  </div>
  <button
    routerLink="/cruise"
    routerLinkActive="active"
    class="btn-all m-4 p-3"
  >
    Book Now
  </button>
</div>

<!-- Our Team Section -->
<div class="black-secondary">
  <div class="container">
    <p class="teal pt-5 text-center fs-5 fw-bold">OUR TEAM</p>

    <h1 class="text-white py-5 text-center fs-1 fw-bold">
      Best Traveler To Guide You
    </h1>
    <div class="row">
      <div class="col m-3">
        <img
          src="assets\images\a-charming-blonde-woman-in-a-green-summer-jumpsuit-UMK7NTW-800x1000.jpg"
          alt=""
          width="250px"
          class="rounded"
        />
        <p class="teal px-5 py-3 mx-4 fs-5 font-monospace">Lina Smith</p>
      </div>
      <div class="col m-3">
        <img
          src="assets\images\beautiful-elegant-girl-having-breakfast-at-outdoor-2021-04-03-14-27-09-utc-800x1000.jpg"
          alt=""
          width="250px"
          class="rounded"
        />
        <p class="teal px-5 py-3 mx-4 fs-5 font-monospace">Nina Steve</p>
      </div>
      <div class="col m-3">
        <img
          src="assets\images\redhead-woman-is-resting-against-bright-green-wall-7PZJK2G-800x1000.jpg"
          alt=""
          width="250px"
          class="rounded"
        />
        <p class="teal px-5 py-3 mx-4 fs-5 font-monospace">Rose Mann</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col m-3">
        <img
          src="assets\images\attractive-stylish-blonde-woman-in-jeans-oversize-48BZNJS-800x1000.jpg"
          alt=""
          width="250px"
          class="rounded"
        />
        <p class="teal px-5 py-3 mx-4 fs-5 font-monospace">Jessica Mark</p>
      </div>
      <div class="col m-3">
        <img
          src="assets\images\beautiful-stylish-woman-is-smiling-wearing-sunglas-5BYQSYX-800x1000.jpg"
          alt=""
          width="250px"
          class="rounded"
        />
        <p class="teal px-5 py-3 mx-4 fs-5 font-monospace">Austin Jack</p>
      </div>
      <div class="col m-3">
        <img
          src="assets\images\freedom-winter-mountain-man-PGN56CK-2.jpg"
          alt=""
          width="250px"
          height="312.5px"
          class="rounded"
        />
        <p class="teal px-5 py-3 mx-4 fs-5 font-monospace">Marc Quest</p>
      </div>
    </div>
  </div>
</div>
