<div class="img-top">
  <img
    src="assets/images/joel-tasche-7ddX6EU2l7A-unsplash.jpg"
    alt="cruise"
  />
  <div class="img-text">D E S T I N A T I O N</div>
</div>

<h3 class="text-center fw-bold fs-5 teal mt-5 pt-5">OUR DESTINATION</h3>
<h1 class="text-center text-white fw-bold fs-1 p-3 font-weight">
  Our Best Destination
</h1>
<div class="cruise-top"></div>
<div class="container">
  <div class="row">
    <div
      *ngFor="let cruise of cruiseDetails"
      class="card col-2 m-2 p-0 card-outline"
      style="width: 16rem"
    >
      <img
        class="img-fluid rounded"
        src="{{
          'http://localhost:8080/api/admin/cruises/downloadFile/' + cruise.id
        }}"
        alt=""
        width="256px"
        height="200px"
      />
      <div class="card-body text-center black-secondary">
        <h5 class="card-title fs-4 text-white">{{ cruise.name }}</h5>
        <p class="card-text text">
          {{ cruise.description }}
        </p>
        <a (click)="getCruiseId(cruise.id)" class="card-a"
          >Learn more <i class="fa fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
