<!-- Carousel Section -->
<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner opacity-50 min-vh-80">
    <!-- Carousel Items -->
    <div class="carousel-item active">
      <!-- Image 1 -->
      <img
        src="assets\images\aurora-borealis-over-snowy-mountains-and-frozen-se-J6LTWV2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <!-- Image 2 -->
      <img
        src="assets\images\paul-gilmore-km74CLco7qs-unsplash-1536x1152.jpg"
        class="d-block w-100 h-50"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <!-- Image 3 -->
      <img
        src="assets\images\jeremy-bishop-_CFv3bntQlQ-unsplash-1536x1152.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <!-- Carousel Text -->
    <div class="img-font w-75 fs-1">THE MOST</div>
    <div class="img-font-two w-75 fs-1">RELIABLE LUXURY YACHT</div>
  </div>
  <!-- Carousel Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Welcome Section -->
<div class="row black-secondary rounded m-0 min-vh-100">
  <div class="col-6 lh-base m-5">
    <!-- Welcome Text -->
    <p class="teal fs-4 fw-bold font-monospace">WELCOME TO CRUISE HUB</p>
    <p class="text-white fs-1">Nature's Majesty</p>
    <p class="text-white fs-1">Awaits You</p>
    <p class="text fst-italic fs-5">
      <!-- Quote -->
      "Join us as we navigate the seas, creating lasting memories and crafting
      experiences that go beyond the expected. Cruise Hub is not just a journey;
      it's an invitation to explore the extraordinary, embrace the
      extraordinary, and make every moment at sea truly extraordinary."
    </p>
  </div>
  <div class="col-4 position-relative">
    <!-- Images -->
    <img
      src="assets\images\view-luxurious-cruise-ship_23-2150785234.avif"
      alt=""
      width="300px"
      height="300px"
      class="rounded my-5"
    />
    <img
      src="assets\images\dancing-underwater-PWT6K2M-768x1024.jpg"
      alt=""
      width="500px"
      height="450px"
      class="rounded m-5 position-absolute start-50 top-0 p-5 translate-middle-x"
    />
  </div>
</div>

<!-- Farewell Section -->
<div class="content min-vh-100 position-relative">
  <img
    src="assets\images\freedom-winter-mountain-man-PGN56CK-2.jpg"
    alt=""
    class="img-fluid"
  />
  <div class="overlay-text">
    <!-- Farewell Quote -->
    <h1
      class="text-white fst-italic fs-2 font-monospace lh-lg text-monospace fw-bold text-center"
    >
      "It’s time to say goodbye, but I think goodbyes are sad, and I’d much
      rather say hello. Hello to a new adventure."
    </h1>
    <p class="text-center black fs-5">– Ernie Harwell –</p>
  </div>
</div>

<!-- Why Choose Us Section -->
<div class="text-center black-primary min-vh-100 rounded">
  <h4 class="teal py-5 fs-3 fw-bold">WHY CHOOSE US</h4>
  <h1 class="text-white fs-1 fw-bold">Countless Experiences</h1>
  <div class="d-flex justify-content-around pt-5 text-align-center">
    <!-- Card 1 -->
    <div
      class="card m-2 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i class="fa-regular fa-compass fa-2xl p-3" style="color: #29d9d5"></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">Experienced</h5>
        <p class="card-text text">
          Discover curated and unforgettable cruise experiences crafted by
          seasoned professionals.
        </p>
      </div>
    </div>
    <!-- Card 2 -->
    <div
      class="card m-2 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i class="fa-solid fa-globe fa-2xl p-3" style="color: #29d9d5"></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">Worldwide</h5>
        <p class="card-text text">
          Explore the globe with our diverse range of cruises, spanning the most
          captivating destinations worldwide.
        </p>
      </div>
    </div>
    <!-- Card 3 -->
    <div
      class="card m-2 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i
        class="fa-regular fa-credit-card fa-2xl p-3"
        style="color: #29d9d5"
      ></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">Affordable</h5>
        <p class="card-text text">
          Embark on budget-friendly journeys without compromising on quality or
          comfort.
        </p>
      </div>
    </div>
    <!-- Card 4 -->
    <div
      class="card m-2 py-4 black-secondary card-outline"
      style="width: 15rem; height: 15rem"
    >
      <i
        class="fa-solid fa-headphones-simple fa-2xl p-3"
        style="color: #29d9d5"
      ></i>
      <div class="card-body">
        <h5 class="card-title text-white fs-4 fw-bold p-2">24/7 Service</h5>
        <p class="card-text text">
          Enjoy peace of mind with round-the-clock support for all your travel
          needs.
        </p>
      </div>
    </div>
  </div>
  <!-- Book Now Button -->
  <button
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    data-bs-whatever="@fat"
    routerLinkActive="active"
    class="btn-all m-4 p-3"
  >
    Book Now
  </button>
</div>
<div
  class="modal fade mt-5"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Welcome to Cruise Hub</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="py-2 fs-6">
          Click
          <button
            routerLink="/login"
            type="button"
            class="btn-xs rounded btn-success text-white p-1"
            data-bs-dismiss="modal"
          >
            Login
          </button>
          to proceed
        </p>
        <p class="py-2 fs-6">
          Don't have an account
          <button
            routerLink="/register"
            type="button"
            class="btn-xs rounded btn-success text-white p-1"
            data-bs-dismiss="modal"
          >
            Register
          </button>
          here
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Our Team Section -->
<div class="row m-0 black-secondary">
  <div class="col-5 lh-lg p-5">
    <!-- Our Team Text -->
    <p class="teal fs-4 fw-bold font-monospace">OUR TEAM</p>
    <p class="text-white fs-2">Best Traveler To Guide You</p>
    <p class="text lh-base fst-italic fs-6">
      Your safety is our priority. Our trained safety and security team is
      vigilant, ensuring a secure environment throughout your cruise. They are
      well-prepared to handle any situation, providing you with peace of mind
      during your journey.
    </p>
  </div>
  <!-- Team Member 1 -->
  <div class="col-3 mx-5">
    <div class="p-5">
      <img
        src="assets\images\a-charming-blonde-woman-in-a-green-summer-jumpsuit-UMK7NTW-800x1000.jpg"
        alt=""
        width="250px"
        class="rounded"
      />
    </div>
  </div>
  <!-- Team Member 2 -->
  <div class="col-3">
    <div class="p-5">
      <img
        src="assets\images\beautiful-elegant-girl-having-breakfast-at-outdoor-2021-04-03-14-27-09-utc-800x1000.jpg"
        alt=""
        width="250px"
        class="rounded"
      />
    </div>
  </div>
</div>
