/* CSS for handling hover effect */
.hover {
  border: none;
}

/* Hover effect styles */
.hover:hover {
  border: 1px solid var(--secondary);
  cursor: pointer;
  color: black;
}

/* Feedback lottie animation */
.feedback-lottie {
  width: 200px !important;
  height: 500px !important;
}
