<div class="min-vh-100">
  <!-- Row for displaying cards related to users, payments, and tours -->
  <div class="row d-flex mt-3">
    <!-- Card for Users -->
    <div role="button" routerLink="/admin/users" class="card mb-3 black-secondary card-outline" style="width: 360px; height: 150px">
      <div class="row g-0">
        <div class="col-md-5 p-2 pt-3">
          <ng-lottie [options]="options"></ng-lottie>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title text fs-5 pt-4">Users</h5>
            <div class="d-flex justify-content-between pt-3">
              <h5 class="card-title teal fs-1 pt-1">{{ totalUserCount }}</h5>
              <a class="card-a text-white fs-2"><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card for Payments -->
    <div role="button" routerLink="/admin/payment" class="card mb-3 black-secondary card-outline mx-3" style="width: 360px; height: 150px">
      <div class="row g-0">
        <div class="col-md-5 p-2 pt-3">
          <ng-lottie [options]="optionsPayment"></ng-lottie>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title text fs-5 pt-4">Payments</h5>
            <div class="d-flex justify-content-between pt-3">
              <h5 class="card-title teal fs-1 pt-1">{{ paymentDetails.length }}</h5>
              <a class="card-a text-white fs-2"><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card for Tours -->
    <div role="button" routerLink="/admin/tour" class="card mb-3 black-secondary card-outline" style="width: 360px; height: 150px">
      <div class="row g-0">
        <div class="col-md-5 p-2 pt-3">
          <ng-lottie [options]="optionsTour"></ng-lottie>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title text fs-5 pt-4">Tours</h5>
            <div class="d-flex justify-content-between pt-3">
              <h5 class="card-title teal fs-1 pt-1">{{ tourDetails.length }}</h5>
              <a class="card-a text-white fs-2"><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row for displaying cards related to cruises, bookings, and feedbacks -->
  <div class="row d-flex">
    <!-- Card for Cruises -->
    <div role="button" routerLink="/admin/cruise" class="card mb-3 black-secondary card-outline" style="width: 360px; height: 150px">
      <div class="row g-0">
        <div class="col-md-5 p-2 pt-3">
          <ng-lottie [options]="optionsCruise"></ng-lottie>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title text fs-5 pt-4">Cruises</h5>
            <div class="d-flex justify-content-between pt-3">
              <h5 class="card-title teal fs-1 pt-1">{{ cruiseDetails.length }}</h5>
              <a class="card-a text-white fs-2"><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card for Bookings -->
    <div role="button" routerLink="/admin/booking" class="card mb-3 black-secondary card-outline mx-3" style="width: 360px; height: 150px">
      <div class="row g-0">
        <div class="col-md-5 p-2 pt-3">
          <ng-lottie [options]="optionsBooking"></ng-lottie>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title text fs-5 pt-4">Bookings</h5>
            <div class="d-flex justify-content-between pt-3">
              <h5 class="card-title teal fs-1 pt-1">{{ bookingDetails.length }}</h5>
              <a class="card-a text-white fs-2"><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card for Feedbacks -->
    <div role="button" routerLink="/admin/feedback" class="card mb-3 black-secondary card-outline" style="width: 360px; height: 150px">
      <div class="row g-0">
        <div class="col-md-5 p-2 pt-3">
          <ng-lottie [options]="optionsFeedback"></ng-lottie>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title text fs-5 pt-4">Feedbacks</h5>
            <div class="d-flex justify-content-between pt-3">
              <h5 class="card-title teal fs-1 pt-1">{{ feedbackDetails.length }}</h5>
              <a class="card-a text-white fs-2"><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
