.hover{
    border: none;
}
.hover:hover{
    border: 1px solid var(--secondary);
    cursor: pointer;
    color: black;
}
.feedback-lottie{
    width: 200px !important;
    height: 500px !important;
}