<div class="row d-flex">
  <div class="col-4">
    <div
      routerLink="/admin/users"
      routerLinkActive="active"
      class="card hover col-2 m-2 p-0"
      style="width: 250px"
    >
      <ng-lottie [options]="options"></ng-lottie>

      <div class="card-body text-center bg-teal">
        <h5 class="card-title text-white fs-5">
          Total Users {{ totalUserCount }}
        </h5>

        <a class="card-a text-white"
          >See all users <i class="fa fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div
      routerLink="/admin/payment"
      routerLinkActive="active"
      class="card hover col-2 m-2 p-0"
      style="width: 250px"
    >
      <ng-lottie [options]="optionsPayment"></ng-lottie>

      <div class="card-body text-center bg-teal">
        <h5 class="card-title text-white fs-5">
          Total Payment {{ paymentDetails.length }}
        </h5>

        <a class="card-a text-white"
          >See all Payment <i class="fa fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div
      routerLink="/admin/tour"
      routerLinkActive="active"
      class="card hover col-2 m-2 p-0"
      style="width: 250px"
    >
      <ng-lottie [options]="optionsTour"></ng-lottie>

      <div class="card-body text-center bg-teal">
        <h5 class="card-title text-white fs-5">
          Total Tour {{ tourDetails.length }}
        </h5>

        <a class="card-a text-white"
          >See all Tour <i class="fa fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex">
  <div class="col-4">
    <div
      routerLink="/admin/cruise"
      routerLinkActive="active"
      class="card hover col-2 m-2 p-0"
      style="width: 250px"
    >
      <ng-lottie [options]="optionsCruise"></ng-lottie>

      <div class="card-body text-center bg-teal">
        <h5 class="card-title text-white fs-5">
          Total Cruise {{ cruiseDetails.length }}
        </h5>

        <a class="card-a text-white"
          >See all Cruise <i class="fa fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div
      routerLink="/admin/booking"
      routerLinkActive="active"
      class="card hover col-2 m-2 p-0"
      style="width: 250px"
    >
      <ng-lottie [options]="optionsBooking"></ng-lottie>

      <div class="card-body text-center bg-teal">
        <h5 class="card-title text-white fs-5">
          Total Booking {{ bookingDetails.length }}
        </h5>

        <a class="card-a text-white"
          >See all Booking <i class="fa fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div
      routerLink="/admin/feedback"
      routerLinkActive="active"
      class="card hover col-2 m-2 p-0"
      style="width: 250px"
    >
      <ng-lottie [options]="optionsFeedback"></ng-lottie>

      <div class="card-body text-center bg-teal">
        <h5 class="card-title text-white fs-5">
          Total Feedback {{ feedbackDetails.length }}
        </h5>

        <a class="card-a text-white"
          >See all Feedback<i class="fa fa-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
