<div class="row mx-5 text-center">
  <div class="col-2"></div>
  <div class="col-lg-8 w-100 col-xl-8">
    <div class="card border-0">
      <div class="card-header p-3">
        <h5 class="text-muted text-start mb-0">
          Thanks for your Order, <span class="teal">User</span>!
        </h5>
      </div>
      <div class="card-body p-2 book-order black-primary">
        <table class="table table-dark table-bordered">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col" class="text-center">Cruise Name</th>
              <th scope="col" class="text-center">Destination</th>
              <th scope="col" class="text-center">Check In Date</th>
              <th scope="col" class="text-center">Check Out Date</th>
              <th scope="col" class="text-center">Guest</th>
              <th scope="col" class="text-center">Payment Date</th>
              <th scope="col" class="text-center">Amount</th>
              <th scope="col" class="text-center">Status</th>
              <th scope="col" class="text-center">Feedback</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle">
                <img
                  src="../../../../assets/images/ishan-seefromthesky-KgCbvOWYuU0-unsplash-1536x1152.jpg"
                  class="img-fluid"
                  alt="ship"
                  width="100px"
                  height="100px"
                />
              </td>
              <td class="text-center align-middle">
                <p class="mb-0">Cruise name</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0">Maldives</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">29/11/2023</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">05/12/2023</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">5</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">19/11/2023</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">10000</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">Confirmed</p>
              </td>

              <td class="text-center align-middle">
                <button
                  type="button"
                  routerLink="/feedback"
                  routerLinkActive="active"
                  class="btn btn-feedback"
                >
                  Feedback
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
