<!-- <div
  *ngIf="bookingDetails.length == 0"
  class="min-vh-80 row"
  style="width: 500px; height: 500px"
>
  <div class="col-1"></div>
  <div class="col-10">
    <ng-lottie [options]="optionsBooking"></ng-lottie>
  </div>
  <div class="col-1"></div>
<p>{{bookingDetails.length}}</p> -->
<div class="row mx-5 text-center">
  <div class="col-2"></div>
  <div class="col-lg-8 w-100 col-xl-8">
    <div class="card border-0">
      <div class="card-header black-secondary p-3">
        <h5 class="text-white text-start fs-4 mb-0">
          Thank You, <span class="teal">{{loggedInUser.name}}</span> ! Have a nice journey...
        </h5>
      </div>
      <div class="card-body p-2 book-order black-primary">
        <table class="table table-dark table-bordered">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Destination</th>
              <th scope="col">Check In Date</th>
              <th scope="col">Check Out Date</th>
              <th scope="col">Cruise Name</th>
              <th scope="col">Payment Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
              <th scope="col">Feedback</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of bookingDetails">
              <td class="align-middle">
                <img
                  src="../../../../assets/images/ishan-seefromthesky-KgCbvOWYuU0-unsplash-1536x1152.jpg"
                  class="img-fluid"
                  alt="ship"
                  width="100px"
                  height="100px"
                />
              </td>
              <td class="text-center align-middle">
                <p class="mb-0">{{ book.name }}</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0">{{ book.destination }}</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">{{ book.checkInDate|date }}</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">{{ book.checkOutDate|date }}</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">{{ book.cruiseName }}</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">{{ book.paymentDate|date }}</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">{{ book.amount }}</p>
              </td>
              <td class="text-center align-middle">
                <p class="mb-0 small">{{ book.bookingStatus }}</p>
              </td>

              <td class="text-center align-middle">
                <button
                  type="button"
                  routerLink="/feedback"
                  routerLinkActive="active"
                  class="btn btn-feedback"
                >
                  Feedback
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
