.book-order {
  border: none;
}
.book-order:hover {
  border: solid 1px var(--secondary);
}
.btn-feedback {
  background-color: var(--black-primary);
  border: solid 1px var(--secondary);
  border-radius: 100px;
  color: white;
  display: flex;
  padding: 10px 20px;
  text-align: center;
  margin: 20px;
}
.btn-feedback:hover {
  background-color: var(--secondary);
}

.text-lottie {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  letter-spacing: 6px;
  margin-top: -30px;
  margin-bottom: 20px;
}

.lottie-booking {
  width: 400px !important;
  height: 600px !important;
  margin-top: -70px;
}
