<div class="text-white justify-content-between d-flex py-3">
  <h2 class="teal">All User</h2>
  <button type="button" class="btn-add">Total User : {{totalUserCount}}</button>
</div>
<div class="row text-center">
  <div class="col">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">USERNAME</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of userDetails"
          (click)="setSelectedUser(user)"
          [ngClass]="user.id === userDetail.id ? 'table-primary' : ''"
        >
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
