<footer class="main-footer">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <!-- Logo Widget -->
        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
          <div class="logo-widget footer-widget">
            <figure class="logo-box">
              <a href="#"
                ><img
                  src="../../../../assets/images/cruise-logo.png"
                  alt="logo"
                  width="100px"
                  height="50px"
              /></a>
            </figure>
            <div class="text">
              <p>Lorem ipsum dolor amet consectetur adipisicing elit...</p>
            </div>
            <ul class="footer-social">
              <li>
                <a><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a><i class="fab fa-vimeo-v"></i></a>
              </li>
              <li>
                <a><i class="fab fa-google-plus-g"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Services Widget -->
        <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
          <div class="service-widget footer-widget">
            <div class="footer-title">Services</div>
            <ul class="list">
              <li><a>Water Survey</a></li>
              <li><a>Education for All</a></li>
              <li><a>Food Serving</a></li>
              <li><a>Animal Saves</a></li>
              <li><a>Help Orphan</a></li>
            </ul>
          </div>
        </div>
        <!-- Contact Widget -->
        <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
          <div class="contact-widget footer-widget">
            <div class="footer-title">Contacts</div>
            <div class="text">
              <p>Lorem Ipsum, simply dummy text, printing, Chandigarh</p>
              <p>+2(784) 1223323</p>
              <p>cruisehub@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Bottom -->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 column">
        <div class="copyright"><a>Cruise Hub</a> &copy; 2023 All Right Reserved</div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 column">
        <ul class="footer-nav">
          <li><a>Terms of Service</a></li>
          <li><a>Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
