<!-- User Navigation Bar -->
<div *ngIf="!isAdmin && isLoggedIn">
  <div class="d-flex flex-column">
    <!-- User Navbar -->
    <nav class="navbar navbar-expand-lg py-3 container-fluid">
      <!-- Logo and Branding -->
      <div class="container-fluid text-white">
        <a
          routerLink="/"
          routerLinkActive="active"
          class="navbar-brand text-white"
        >
          <img
            class="card-img-top"
            src="../../../../assets/images/cruise-logo.png"
            height="30px"
            alt="logo"
          />
        </a>
        <h3 class="fs-4 pt-3">Cruise Hub</h3>
        <!-- Navbar Toggler for Mobile View -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mx-5 mb-lg-0">
            <!-- Navigation Links -->
            <!-- Home Link -->
            <li class="nav-item px-2">
              <a
                routerLink="/"
                routerLinkActive="active"
                class="nav-link text-white"
                [routerLinkActiveOptions]="{ exact: true }"
                >Home</a
              >
            </li>
            <!-- Cruise Link -->
            <li class="nav-item px-2">
              <a
                routerLink="/cruise"
                routerLinkActive="active"
                class="nav-link text-white"
                >Cruise</a
              >
            </li>
            <!-- All Tours Link -->
            <li class="nav-item px-2">
              <a
                routerLink="/all/tour"
                routerLinkActive="active"
                class="nav-link text-white"
                >All Tours</a
              >
            </li>
            <!-- Destination Link -->
            <li class="nav-item px-2">
              <a
                routerLink="/destination"
                routerLinkActive="active"
                class="nav-link text-white"
                >Destination</a
              >
            </li>
            <!-- Services Link -->
            <li class="nav-item px-2">
              <a
                routerLink="/service"
                routerLinkActive="active"
                class="nav-link text-white"
                >Services</a
              >
            </li>
          </ul>
          <!-- User Icons -->
          <div routerLink="/booking" role="button">
            <i
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="active"
              class="fa-solid fa-circle-user fa-xl"
              style="color: #ffffff"
            ></i>
          </div>
          <div
            class="navbar-nav px-4 text-white"
            (click)="logout()"
            role="button"
          >
            <i class="fa-solid fa-power-off fa-xl" style="color: #ffffff"></i>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- Footer Component -->
  <!-- <div>
    <app-footer></app-footer>
  </div> -->
</div>

<!-- Guest Navigation Bar -->
<div *ngIf="!isAdmin && !isLoggedIn">
  <!-- Home Navigation Bar -->
  <div class="row" *ngIf="currentRouteIsHome()" class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg black-primary">
      <div class="container-fluid">
        <!-- Logo and Branding -->
        <a
          routerLink="/"
          routerLinkActive="active"
          class="navbar-brand text-white"
        >
          <img
            class="card-img-top"
            src="../../../../assets/images/cruise-logo.png"
            height="30px"
            alt="logo"
          />
        </a>
        <h3 class="fs-4 pt-3 text-white">Cruise Hub</h3>
        <!-- Navbar Toggler for Mobile View -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <!-- Login Link -->
          <div
            class="navbar-nav fs-5 text-white px-4"
            routerLink="/login"
            role="button"
          >
            LOGIN <i class="fa-solid fa-right-from-bracket mx-2"></i>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- Admin Dashboard -->
<div *ngIf="isLoggedIn && isAdmin" class="row flex-grow-1">
  <!-- Admin Sidebar -->
  <div class="sidebar border-0 col-2 p-0">
    <div class="black-secondary h-100" tabindex="-1">
      <div class="d-flex flex-column overflow-y-auto">
        <ul class="navbar-nav nav flex-column">
          <!-- Dashboard Link -->
          <li
            routerLink="/admin"
            class="nav-item d-flex px-4 justify-content-start sideBarItem"
          >
            <i
              routerLinkActive="active"
              class="fa-solid fa-house py-2 mx-3"
            ></i>
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Dashboard</a
            >
          </li>
          <!-- Users Link -->
          <li
            routerLink="/admin/users"
            class="nav-item d-flex px-4 justify-content-start sideBarItem"
          >
            <i routerLinkActive="active" class="fa-solid fa-user py-2 mx-3"></i>
            <a routerLinkActive="active">Users</a>
          </li>
          <!-- Cruise Link -->
          <li
            routerLink="/admin/cruise"
            class="nav-item d-flex px-4 justify-content-start sideBarItem"
          >
            <i routerLinkActive="active" class="fa-solid fa-ship py-2 mx-3"></i>
            <a routerLinkActive="active">Cruise</a>
          </li>
          <!-- Tour Link -->
          <li
            routerLink="/admin/tour"
            class="nav-item d-flex px-4 justify-content-start sideBarItem"
          >
            <i routerLinkActive="active" class="fa-solid fa-book py-2 mx-3"></i>
            <a routerLinkActive="active" class="nav-link d-flex">Tour </a>
          </li>
          <!-- Payment Link -->
          <li
            routerLink="/admin/payment"
            class="nav-item d-flex px-4 justify-content-start sideBarItem"
          >
            <i
              routerLinkActive="active"
              class="fa-solid fa-credit-card py-2 mx-3"
            ></i>
            <a routerLinkActive="active" class="nav-link d-flex">Payment </a>
          </li>
          <!-- Booking Link -->
          <li
            routerLink="/admin/booking"
            class="nav-item d-flex px-4 justify-content-start sideBarItem"
          >
            <i
              routerLinkActive="active"
              class="fa-solid fa-calendar-days py-2 mx-3"
            ></i>
            <a routerLinkActive="active" class="nav-link d-flex">Booking </a>
          </li>
          <!-- Feedback Link -->
          <li
            routerLink="/admin/feedback"
            class="nav-item d-flex px-4 justify-content-start sideBarItem"
          >
            <i
              routerLinkActive="active"
              class="fa-solid fa-comment py-2 mx-3"
            ></i>
            <a routerLinkActive="active" class="nav-link d-flex">Feedback </a>
          </li>
          <!-- Logout Link -->
          <li
            (click)="logout()"
            class="nav-item d-flex px-4 justify-content-start sideBarItem"
          >
            <i class="fa-solid fa-right-from-bracket py-2 mx-3"></i>
            <a routerLinkActive="active" class="nav-link d-flex">Logout </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Main Content Area -->
  <main class="col-10 px-4">
    <router-outlet></router-outlet>
  </main>
</div>

<!-- Non-admin Users -->
<div *ngIf="!isAdmin">
  <!-- Display User-Specific Components -->
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>

<!-- Loading Spinner -->
<div *ngIf="loaderService.isLoading | async" class="loader">
  <ng-lottie [options]="options"></ng-lottie>
</div>
