.top{
    margin-top: 110px !important;
}

/* Styles for text-sad class */
.text-sad {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    letter-spacing: 6px;    
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Styles for lottie-sad class */
  .lottie-sad {
    width: 250px !important;
    height: 250px !important;
  }
  