<div class="text-white justify-content-between d-flex py-3">
  <h2 class="teal fs-3">All Feedback</h2>
  <h2 class="teal fs-3">No of Feedback : {{ feedbackDetails.length }}</h2>
</div>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">RATING</th>
      <th scope="col">COMMENTS</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feedback of feedbackDetails">
      <th scope="row">{{ feedback.id }}</th>
      <td>{{ feedback.appUser?.name }}</td>
      <td class="px-4">{{ feedback.rating }}</td>
      <td>{{ feedback.comments }}</td>
      <td>
        <i
        (click)="onDelete(feedback.id)"
        class="fa-solid fa-trash fa-xl teal px-3"
        style="color: #ef4444"
      ></i>
      </td>
    </tr>
  </tbody>
</table>
